.main {
    background-color: #FAFAFA;
  }

  .header {
    align-items: center;
    height: 50px;
    margin: 10px;
  }

  .header_title {
    font-size: 20;
    font-weight: bold;
    /* height: 50px; */
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header_summary {
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    padding-bottom: 10px;
  }